{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil 🏦 - LSM Investment Club</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'logo-lsmic.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="{% static 'logo-lsmic.png' %}" alt="Logo LSMIC">
            <a href="{% url 'home' %}">LSM Investment Club</a>
        </div>
        <div class="header-right">
            <a href="#">Actualités</a>
            <a href="/portfolio/">Portefeuille</a>
            <a href="/performance/">Performance</a>
            {% if user.is_authenticated %}
                <a href="/profile/">{{ user.username }}</a>
            {% else %}
                <a href="/login/">Login</a>
            {% endif %}
        </div>
    </header>

    <main>
        <h1>Bienvenue sur le site du LSM Investment Club !</h1>
        <p>Where students turn passion for finance into practice.</p>
        <div class="weekly-ranking-container" style="display: flex; gap: 40px; justify-content: center;">
            
            <div class="ranking-card top3" style="flex: 1; max-width: 400px; padding: 20px; border: 1px solid #ddd; border-radius: 10px;">
                <h3 style="white-space: nowrap; text-align: center;">🏆 Top 3 de la semaine</h3>
                <ul>
                {% for item in top3 %}
                    <li>{{ item.ticker }} : 
                        <span style="color: green;">+{{ item.roi_percent|floatformat:2 }}%</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
            
            <div class="ranking-card flop3" style="flex: 1; max-width: 400px; padding: 20px; border: 1px solid #ddd; border-radius: 10px;">
                <h3 style="white-space: nowrap; text-align: center;">📉 Flop 3 de la semaine</h3>
                <ul>
                {% for item in flop3 %}
                    <li>{{ item.ticker }} : 
                        <span style="color: red;">{{ item.roi_percent|floatformat:2 }}%</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </main>
    <footer>
        LSM Investment Club 2025 ©. Tous droits réservés.
    </footer>
</body>
</html>