{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil 🏦 - LSM Investment Club</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">LSM Investment Club</a>
        </div>
        <nav>
            <a href="#">Actualités</a>
            <a href="/portfolio/">Portefeuille du Club</a>
            <a href="/performance/">Performance</a>
            {% if user.is_authenticated %}
                <a href="/profile/">{{ user.username }}</a>
            {% else %}
                <a href="/login/">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        <h1>Bienvenue sur le site du LSM Investment Club !</h1>
        <p>Votre club d’investissement à la LSM.</p>
    </main>
    <footer>
        LSM Investment Club 2025 ©. Tous droits réservés.
    </footer>
</body>
</html>